header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  height: 8svh;
  background: var(--primary-background-color-alpha);
  backdrop-filter: blur(3px);
  color: var(--primary-text-color);
}
header::after {
  content: '';
  width: 80%;
  position: absolute;
  bottom: 0;
  height: 1px;
  background: var(--primary-text-color);
}

.media-buttons {
  display: flex;
  gap: 1rem;
}
